applications:
  - name: example-app
    namespace: default
    project: default
    source:
      repoURL: https://github.com/Ruslan5891/devops_test
      path: charts/django-app
      targetRevision: main
      helm:
        valueFiles:
          - values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

repositories:
  - name: example-app
    url: https://github.com/Ruslan5891/devops_test
    username: 
    password: 

repoConfig:
  insecure: "true"
  enableLfs: "true"
